
.wraper{
    visibility: hidden;
}
h1{
    color:#E59E79;
}
header{
    display: flex;
    margin-top: 60px;
    padding-left: 4%;
    padding-right: 4%;
    height: 5%;
}

.logo_img{
    padding-bottom: 0;
    width: 10%;
}
.logo_img img{
width:100%;
align-items: center;
}

.logo_text {
height: 100%;
align-items: center;
color:#AD7A5F;
font-family: 'Montserrat Subrayada', sans-serif;
font-weight: Bold;
font-size: 35px;
line-height: 50px;
margin-left:2%;
width:16%;
text-align: left;
padding-top:2px;
}
.logo_text span{
font-size: 65px;
color:#E59E79;
}
nav{
    padding-left:10%;
    padding-top: 0.5%;
    justify-content: flex-end;
    align-items:center;
    width:80%;
}

ul.menu li{
    list-style:none;
    display: inline;
    padding-right: 2%; 
    padding-left: 2%; 
    font-size: 17px;
}
ul.menu li a{
    text-decoration: none;
    color:#D9D6D0;
    
}
ul.menu li a:hover{
    text-decoration:underline #AD7A5F 2px;
    transition: 0.2s;
}
.right{
    background: url("img/right.jpg");
    float:left;
    width:50%;
    margin:0;
    height: 50%;
}

.left{
    width:50%;
    float:left;
    margin:0;
}
.facebook{
    width :5px;
}
.propositions h4{
    color:#988378;
}
footer p{
    color:#363A43;
}

@media only screen
and (min-device-width : 400px)
and (max-device-width : 768px ){
*
header{
    margin:0;
    height:300px;
    padding-left:0;
    padding-right: 0;
}
.logo_img{
    width:50%;

}
.logo_text{
   color:#fff;
   font-size:15px;
   height: 50%;
}
.logo_text span{
    font-size:22px;
    line-height: 1.4px;
}

ul .menu li{
    font-size:1px;
}

.navbar{
    margin-left:0px; 
    padding-left:0px; 
    margin-top:150px;
    width:100%;
    padding: 0; 

}
}

